.section-contact {
	padding-bottom: 10rem;
	background: no-repeat url(../../assets/images/icons/background-contact.section.svg);
	background-size: 100%;
	background-position: center 94%;

	@include breakpoint-up("xxs") {
		padding-bottom: 0;
		background-size: 65%;
		background-position: center right;
	}

	@include breakpoint-up("lg") {
		background-size: 50%;
	}

	&__content {
		@include row-grid('two');
		row-gap: 2rem;
		justify-content: center;

		@include breakpoint-up("xxs") {
			justify-content: start;
		}
	}
	&__icons {
		@include display-flex;
		max-width: 15rem;
		margin: auto;

		@include breakpoint-up("xxs") {
			margin: 0;
		}

		img {
			box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.14), 0 0.2rem 0.1rem rgba(0, 0, 0, 0.12),
				0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);

			&:hover {
				transform: scale(1.2);
				transition: all 0.05s ease-in-out;
			}
		}
	}
}
