.section-hero {
	position: relative;
	background-color: $primary-bcd-color;

	&__content {
		display: block;

		@include breakpoint-up("lg") {
			@include display-flex;
			flex-direction: row-reverse;
		}
	}

	&__description {
		@include padding-wrapper;
		padding-right: 0;
		@include row-grid('one');
		row-gap: 2rem;
		align-items: center;

		@include breakpoint-up("lg") {
			@include row-grid('two');
			flex: 2.5;
		}

		&-heading,
		&-info {
			@include row-grid('two');
			row-gap: 0.6rem;
		}

		&-btns {
			@include display-flex;
			max-width: 28rem;
		}

		&-icon {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 2.6rem;
			height: 2.8rem;
			background: url(../../assets/images/icons/arrpw-down.svg);
			background-repeat: no-repeat;
			background-size: 95%;
			transition: all 0.2s ease-in-out;
		}

		&-h2,
		&-h1 {
			font-weight: 800;
		}

		&-h2::before {
			content: '<h1>';
			padding-right: 1rem;
		}

		&-h1::after {
			content: '</h1>';
		}

		&-row1::before {
			content: '<p>';
			padding-right: 1rem;
		}

		&-row2::after {
			content: '</p>';
		}

		&-row1,
		&-row2::after {
			padding-left: 1rem;
		}

		&-h2::before,
		&-h1::after,
		&-row1::before,
		&-row2::after {
			font-size: 1.3rem;
			font-family: 'Source Code Pro', monospace;
			font-weight: 200;
			vertical-align: middle;
		}

		&-h1,
		&-row2,
		&-btns {
			padding-left: 4.2rem;
		}
	}
}
