.section-about {
	padding: 2rem 0;
	background: $primary-bcd-color-contrast;
	color: $secondary-text-color;
	position: relative;
	&::before {
		// content: '';
		position: absolute;
		width: 10.5rem;
		height: 12rem;
		background: url(../../assets/images/icons/polygon-3-right.svg) no-repeat;
	}

	&__content {
		@include col-grid('one');
		row-gap: 3rem;
		align-items: stretch;
		padding-top: 4rem;

		@include breakpoint-up("sm") {
			@include col-grid('two');
			column-gap: 2rem;
		}

		@include breakpoint-up("lg") {
			column-gap: 6rem;
		}
	}

	&__text {
		padding-bottom: 5.5rem;
	}

	&__icons {
		@include display-flex;
		justify-content: end;
		align-items: baseline;

		> div:nth-child(1) {
			align-self: flex-end;
		}

		> div:nth-child(2) {
			align-self: center;
		}

		&-wrapp {
			flex: 1;

			img {
				max-width: 3.5rem;
				margin: 0 auto;
			}

			h4 {
				margin: 2rem 0 0;
				font-size: 1.8rem;
				font-weight: 700;
				text-align: center;
			}
		}
	}
}
