.grid {
	@include col-grid('one');
	row-gap: 4rem;
	align-items: stretch;
	padding: 4rem 0 3rem 0;

	&--bcd {
		background: $secondary-bcd-color;
	}

	@include breakpoint-up("xs") {
		@include col-grid('two');
		column-gap: 4rem;
	}

	@include breakpoint-up("lg") {
		@include col-grid('three');
	}
}
