.section-about {
  padding: 2rem 0;
  background: $primary-bcd-color-contrast;
  color: $secondary-text-color;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 4.5rem;
    height: 12rem;
    top: 0;
    right: 0;
    background: url(../assets/images/icons/polygon-3-right.svg) no-repeat;
  }

  &__content {
    @include col-grid('one');
    row-gap: 4rem;
    align-items: stretch;
    padding-top: 4rem;

    @include breakpoint-up('sm') {
      @include col-grid('two');
      column-gap: 5rem;
    }

    @include breakpoint-up('lg') {
      column-gap: 8rem;
    }
  }

  &__text {
    padding-bottom: 5rem;

    &--first-row {
      padding-bottom: 2rem;
    }
  }

  &__icons {
    @include display-flex;
    justify-content: end;

    @include breakpoint-up('sm') {
      padding-top: 5rem;
    }

    > li:nth-child(2) {
      align-self: flex-start;
    }

    &-wrapp {
      flex: 1;

      img {
        max-width: 3.5rem;
        margin: 0 auto;
      }

      h3 {
        margin: 2rem 0 0;
        font-size: 1.8rem;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}
