.section-contact {
  padding-bottom: 10rem;
  background: no-repeat
    url(../assets/images/icons/background-contact.section.svg);
  background-size: 100%;
  background-position: center 90%;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 4.5rem;
    height: 12rem;
    top: 0;
    left: 0;
    background: url(../assets/images/icons/polygon-3-purple.svg) no-repeat;
    transform: rotate(180deg);
  }

  @include breakpoint-up('xxs') {
    padding-bottom: 0;
    background-size: 50%;
    background-position: center right;
  }

  @include breakpoint-up('lg') {
    background-size: 48%;
  }

  &__content {
    @include row-grid('two');
    row-gap: 2rem;
    justify-content: center;

    @include breakpoint-up('xxs') {
      padding-left: 4rem;
      justify-content: start;
    }

    @include breakpoint-up('xl') {
      padding-left: 0;
    }
  }
  &__icons {
    @include display-flex;
    max-width: 11rem;
    margin: auto;

    @include breakpoint-up('xxs') {
      margin: 0;
    }

    @include breakpoint-up('md') {
      max-width: 15rem;
    }

    img {
      box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.14),
        0 0.2rem 0.1rem rgba(0, 0, 0, 0.12), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);

      @include breakpoint-down('md') {
        width: 2.1rem;
      }

      &:hover {
        transform: scale(1.2);
        transition: all 0.05s ease-in-out;
      }
    }
  }
}
