.section-about {
	padding: 3rem 0;
	background: $primary-bcd-color-contrast;
	color: $secondary-text-color;

	&__content {
		@include col-grid('one');
		row-gap: 2rem;
		align-items: stretch;
		padding-top: 4rem;

		@include breakpoint-up("sm") {
			@include col-grid('two');
			column-gap: 6rem;
		}

		@include breakpoint-up("md") {
			column-gap: 12rem;
		}

		p {
			padding-bottom: 4.5rem;
		}
	}

	&__icons {
		display: grid;
		@include col-grid('one');
		row-gap: 1rem;
		align-items: center;

		@include breakpoint-up("lg") {
			row-gap: 3rem;
		}

		&-wrapp {
			justify-self: center;
		}
	}
}
