.section-hero {
	position: relative;
	background-color: $primary-bcd-color;

	&__content {
		display: block;

		@include breakpoint-up("lg") {
			@include display-flex;
			flex-direction: row-reverse;
		}
	}

	&__description {
		@include padding-wrapper;
		@include row-grid('one');
		row-gap: 2rem;
		align-items: center;

		@include breakpoint-up("lg") {
			@include row-grid('two');
			flex: 3;
		}

		&-info {
			@include row-grid('two');
			row-gap: 0.6rem;

			@include breakpoint-down("md") {
				padding-bottom: 2rem;
			}
		}

		&-btns {
			@include display-flex;
			max-width: 26rem;
		}

		&-icon {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 2.6rem;
			height: 2.8rem;
			transition: all 0.2s ease-in-out;
			background: no-repeat center/95% url(../assets/images/icons/arrpw-down.svg);
		}

		&-h1 {
			display: inline-flex;
			animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
		}

		&-h1::before {
			content: '<h1>';
			align-self: baseline;
			padding: 1.2rem 1rem 0 0;
			@include breakpoint-up("lg") {
				padding: 2.1rem 1rem 0 0;
			}
		}

		&-h1::after {
			content: '</h1>';
			align-self: flex-end;
			padding: 0 0 1rem 1rem;
			@include breakpoint-up("lg") {
				padding: 0 0 1.8rem 1rem;
			}
		}

		&-row1::before {
			content: '<p>';
			padding-right: 1rem;
		}

		&-row2::after {
			content: '</p>';
		}

		&-row1,
		&-row2::after {
			padding-left: 1rem;
		}

		&-h1::before,
		&-h1::after,
		&-row1::before,
		&-row2::after {
			font-size: 1.3rem;
			font-family: 'Source Code Pro', monospace;
			font-weight: 200;
			color: $secondary-darker-color;
			vertical-align: middle;
		}

		&-row2,
		&-btns {
			padding-left: 4.2rem;
		}

		&-row1,
		&-row2 {
			font-size: 1.6rem;
			line-height: 2.5rem;

			@include breakpoint-up("md") {
				font-size: 1.8rem;
				line-height: 2.9rem;
			}
		}
	}
}
