.section-hero__image {
	position: relative;
	min-height: 35rem;
	background: no-repeat center/cover url(../assets/images/icons/hero-img-tablet.svg);

	@include breakpoint-up("xxs") {
		min-height: 50rem;
	}

	@include breakpoint-up("xs") {
		min-height: 53rem;
	}

	@include breakpoint-up("sm") {
		min-height: 55rem;
		background-size: contain;
	}

	@include breakpoint-up("md") {
		min-height: 57rem;
		flex: 4;
		background: none;

		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			background: no-repeat center/contain url(../assets/images/icons/hero-img-tablet.svg);

			@include breakpoint-up("lg") {
				width: 65rem;
				background-position: right;
			}
		}
	}

	@include breakpoint-up("lg") {
		min-height: 66rem;
	}

	@include breakpoint-up("xl") {
		&::before {
			background-position: center bottom;

			@include breakpoint-up("xl") {
				width: 80rem;
				background-position: center 25%;
			}
		}
	}
}
