.section-hero__image {
	position: relative;
	min-height: 47rem;
	background: url(../../assets/images/icons/hero-img-tablet.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	@include breakpoint-up("xxs") {
		min-height: 50rem;
		// 	background-size: 97%;
	}

	@include breakpoint-up("xs") {
		min-height: 53rem;
		// background-size: 90%;
	}

	@include breakpoint-up("sm") {
		min-height: 55rem;
		background-size: contain;
		// background-size: 85%;
	}

	@include breakpoint-up("md") {
		min-height: 57rem;
		flex: 4;
		background: none;

		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			background: url(../../assets/images/icons/hero-img-tablet.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;

			@include breakpoint-up("lg") {
				width: 65rem;
				background-position: right;
			}
		}
	}

	@include breakpoint-up("lg") {
		min-height: 70rem;
	}

	@include breakpoint-up("xl") {
		&::before {
			background-position: center bottom;

			@include breakpoint-up("xl") {
				width: 80rem;
				background-position: center 25%;
			}
		}
	}
}
