.container {
	max-width: 110rem;
	margin: 0 auto;
	@include display-flex;
	@include padding-wrapper;

	&--display-block {
		display: block;
	}

	&--no-pad-y {
		padding: 2rem 0 0 0;
	}
}

//helper class for headings
.heading-accent {
	color: $primary-heading-color-contrast;
}

.heading-neutral {
	color: $secondary-heading-color;
}
