*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}

main {
	overflow: hidden;
	min-height: 100%;
}

a {
	color: $primary-link-color;
	text-decoration: none;
	font-weight: 400;
	letter-spacing: 0.1rem;
}

p {
	margin: 0;
}

img,
li {
	display: block;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

button {
	display: block;
	cursor: pointer;
	border: none;
	outline: none;
	font-family: inherit;
	text-decoration: none;
	text-align: center;
}
