@mixin ul-reset {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@mixin paragraph-reset {
	margin: 0;
	padding-bottom: $space-md;
}

@mixin all-centered {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin display-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin col-grid ($number) {
	display: grid;
	grid-template-columns: repeat(map-get($column, $number), 1fr);
}

@mixin row-grid ($number) {
	display: grid;
	grid-template-rows: repeat(map-get($row, $number), 1fr);
}

@mixin breakpoint-up($size) {
	@media (min-width: map-get($breakpoints, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints, $size)) {
		@content;
	}
}

@mixin padding-wrapper {
	padding: 3rem 2rem;

	@include breakpoint-up('lg') {
		padding: 4rem 3rem 5rem 3rem;
	}
}
