//COLORS

//Light Mode

// buttons
$primary-btn-color: hsl(243, 100%, 69%);
$secondary-btn-color: hsl(0, 0%, 100%);

//cards
$primary-card-color: hsl(0, 0%, 93%);
$secondary-card-color: hsl(0, 0%, 4%);
$secondary-border-card-color: hsla(0, 0%, 0%, 0.12);

//links
$primary-link-color: #6961ff;

// sections
$primary-bcd-color: rgb(64 66 125 / 5%);
$secondary-bcd-color: rgb(250, 250, 250);
$primary-bcd-color-contrast: hsl(242, 19%, 65%);

$secondary-text-color: hsl(0, 0%, 100%);
$primary-txt-color: hsl(200, 15%, 8%);
$secondary-darker-color: #0000007a;

$primary-heading-color: hsl(245, 18%, 29%);
$primary-heading-color-contrast: #6961ff;
$secondary-heading-color: hsl(220, 16%, 96%);

//Dark Mode
$body-bcd: lighten(#121212, 6%);
$text-on-body-bcd: darken(#ffffff, 4%);

$components-bcd: lighten(#121212, 9%);
$components-bcd-light: lighten(#121212, 10%);

$text-on-components: darken(#ffffff, 15%);
$heading-on-components: darken(#ffffff, 8%);

$text-on-buttons: #060606;
$text-on-buttons-light: #9994ff;
$btn-bcd: #9994ff;
$color-links: #9994ff;
$color-pseudo: darken(#ffffff, 50%);

$card-bcd: lighten(#121212, 15%);
$card-bcd-light-row: lighten(#121212, 18%);

// BREAKPOINTS
$breakpoints: ('xxs': '460px', 'xs': '590px', 'sm': '700px', 'md': '768px', 'lg': '942px', 'xl': '1200px');

// grid number of columns/rows
$column: ('one': 1, 'two': 2, 'three': 3);
$row: ('one': 1, 'two': 2, 'three': 3, 'four': 4);
